* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #f1f5f9;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
}


.page-wrapper {
    display: flex;
    justify-content: space-between;
    /*Left, center, right gap*/
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0.5%;
}

.side-elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 30%;
    user-select: none;
    color: #9d00ff;
    font-size: 1.7rem;
    font-weight: bold;
}

.side-elements span {
    display: inline-block;
    /*if we do not make display inline block, to span by default to inline hi hota hai uspe tranform ya rotation nhi laga sakte ham log*/
    transition: transform 0.3s;
    animation: float 3s ease-in-out infinite;
}

.left span {
    transform: rotate(15deg);
}

.right span {
    transform: rotate(-20deg);
}

.head {
    font-size: 3.3rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    /* border: 2px solid green; */
}

.para {
    font-size: 1.6rem;
    color: #a30fff;
    font-weight: 500;
    margin: 1rem;
}

.typewriter {
    /* border: 2px solid black; */
    height: 2rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}

.typingGIF {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {

    /* 1. remove side elements */
    .side-elements {
        display: none;
    }

    /* 2. Main container ko poori screen do */
    .main-container {
        width: 90%;
        margin: auto;
    }

    .page-wrapper {
        justify-content: center;
        /* Center the only remaining element */
    }

    /* 3. Fonts adjust karo mobile ke liye */
    .head {
        font-size: 2.5rem;
        /* Pehle 3.5 tha */
    }

    .para {
        font-size: 1.2rem;
        /* Pehle 1.8 tha */
    }

    .typewriter {
        font-size: 1.3rem;
        /* Pehle 2rem tha */
        height: auto;
        min-height: 3rem;
        /* Taki text jump na kare */
    }

    .typingGIF {
        width: 70px;
        /* GIF thodi choti */
        height: 70px;
    }
}